/*NAVIGATION*/
nav li{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
}

nav ul{
    margin-top: -10px;
    margin-right: 50px;
}

nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
    color: saddlebrown;
}

a{
    text-decoration: none;
    color: saddlebrown;
    font-size: 20px;
}

nav a:hover{
    color: #535f92;
    text-decoration: underline #535f92;
}

nav a:visited{
    color: #535f92;
}

nav p{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: bold;
}

body{
    margin: 0px;
}

img{
    border-radius: 5px;
}

/*INDEX*/
#indexText{
    color: saddlebrown;
    line-height: 70%;
    font-family: "Didact Gothic", sans-serif;
}

#indexText h3{
    font-weight: normal;
    font-size: 30px;
}

#indexText h1{
    font-size: 50px;
}

#indexText p{
    font-size: 20px;
    padding-bottom: 40px;
}

#indexText .button1, .button3{
    color: #dbc7c0;
    background-color: saddlebrown;
    border-radius: 5px;
    padding: 7px;
}

#indexText .button2{
    margin-left: 30px;
    margin-right: 30px;
    color: saddlebrown;
    border-radius: 5px;
    border: 2px solid saddlebrown;
    padding: 7px;
}

/*ABOUT*/
#aboutMeText p{
    width: 450px;
    font-size: 18px;
}

#aboutMeText{
    font-family: "Didact Gothic", sans-serif;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 12px -12px -12px 12px;
}

#box{
    background-color: #535f92;
    border-radius: 5px;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    background-color: #dbc7c0;
    height: 79vh;
}

.content img{
    margin: 20px;
}

/*CONTACT*/
#contact2{
    color: saddlebrown;
    font-family: "Didact Gothic", sans-serif;
    font-size: 25px;
    line-height: 40%;
}

#contact1{
    font-size: 50px;
    color: saddlebrown;
    font-family: "Didact Gothic", sans-serif;
    line-height: 40%;
}

#contactText{
    border-bottom: 4px solid #535f92;
}

.content li{
    list-style-type: none;
    font-family: "Didact Gothic", sans-serif;
    color: saddlebrown;
    font-size: 20px;
    line-height: 250%;
}

#circle{
    border: 4px solid #535f92;
    border-radius: 40px;
    padding: 20px;
}

/*EDUCATION*/
#edu p{
    color: #535f92;
    font-size: 18px;
    width: 450px;
    border-radius: 5px;
    margin: 12px -12px -12px 12px;
    padding: 10px;
    font-family: "Didact Gothic", sans-serif;
    border: 2px solid #535f92;
}

#edu{
    border-radius: 5px;
    background-color: white;
}